openapi: 3.0.3
info:
  title: 業務層 API
  description: |-
    
  version: 1.0.11
servers:
  - url: https://abc.def
tags:
  - name: message
    description: For company to push their messages
  - name: aiMessage
    description: Fro company to generate AI-suggested message
paths:
  /messages:
    post:
      tags:
        - message
      summary: Add messages to our data storage
      description: Add messages to our data storage
      requestBody:
        description: Request payload
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  aiMessageId:
                    description: Optional, for tracking purpose
                    type: string
                    example: 1
                  chatroomId:
                    type: number
                    example: 56
                  from:
                    description: It should be user id
                    type: number
                    example: 1
                  to:
                    description: It should be user id                    
                    type: number
                    example: 2
                  content:
                    type: string
                    example: This is chat content
                  time:
                    type: string
                    example: 2023-01-01 10:00
        required: true
      responses:
        '200':
          description: Return message id
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    messageId:
                      type: string
                      example: 1
        '400':
          description: Invalid input
        '422':
          description: Validation exception
  /aiMessage/{messageId}:
    post:
      tags:
        - aiMessage
      summary: Generate AI-suggested message
      description: Generate AI-suggested message
      parameters:
        - name: messageId
          in: path
          description: ID of correlated message
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Return message object
          content:
            application/json:
              schema:
                type: object
                properties:
                  aiMessageId:
                    type: string
                    example: 1
                  content:
                    type: string
                    example: This is content from AI
        '400':
          description: Invalid input
        '422':
          description: Validation exception        
